.font-garamond {
    font-family: Garamond Premier Pro !important;
}

.featured-swiper .swiper-pagination-bullet {
    background: #fff !important;
    opacity: 1 !important;
}

.featured-swiper .swiper-pagination-bullet-active {
    background: #C4B28C !important;
}
